nav.sidebar {
    background-color: rgb(85, 85, 85);
    border-radius: 0px 2px 2px 0px;
    transition: width 0.3s ease;
    min-height: calc(100vh - 10vh);
    border: 0vw;
}

div.content {
    transition: width 0.3s ease;
}

.content-opened {
    width: 99.5vw;
}

.content-closed {
    width: 85vw;
}

.sidebar-opened {
    width: 15vw;
}

.sidebar-closed {
    width: 0.5vw;
}

.sidebar-nav {
    /* position: relative; */
    /* list-style: none; */
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-nav li {
    position: relative;
    display: inline-block;
}

.sidebar-nav li a {
    text-decoration: none;
}

div.navbar {
    border: solid 1px rgb(180, 180, 180);
    padding: 0px;
}

.navbar-btn {
    border: solid 1px rgb(180, 180, 180);
    border-radius: 0px 0px 0px 0px;
}

.navbar-btn:hover {
    background: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
}

.sidebar-btn {
    border: 0;
    width: 100%;
    background: rgb(95, 95, 95);
    color: rgb(255, 255, 255);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.sidebar-btn:hover {
    background: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
}

.sidebar-item {
    padding: 1%;
    width: 100%;
}


/*Responsividade Sidebar*/

@media only screen and (max-width: 767px) {
    .content-closed {
        width: 60vw;
    }
    .sidebar-opened {
        width: 40vw;
    }
}