div.bg {
    background-color: #d80a6a;
    /* height: 200px; */
    border: 1px solid #fff;
    border-color: #000000
}

div.bg1 {
    background-color: #ffffff;
    /* height: 200px; */
    border: 1px solid rgb(0, 0, 0);
    border-color: #000000
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(255, 255, 255);
}

.btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#header {
    height: 10vh;
    background: rgb(60, 60, 60);
}